.imgFriend {
  width: 150px;
  height: 150px;
  margin: 20px 20px;
}
.ulFriends {
  display: flex;
}
.OnFriend {
  color: green;
}
.OfFriend {
  color: red;
}
.liFriend {
  border: 2px solid black;
  border-radius: 20px;
}
.liFriend:not(:last-child) {
  margin-right: 15px;
}
.nameFriend {
  font-size: 20px;
  font-weight: 600;
}
.statusFriend {
  font-size: 15px;
  font-weight: 500;
}
