.Tableform {
  border: 2px solid grey;
  max-width: 320px;
  margin-left: 40px;
  border-radius: 7px;
}
.TableFormLabel {
  display: block;
  padding-left: 10px;
}
.TableFormInput {
  display: block;
  width: 90%;
}
.TableFormButton {
  display: block;
  width: 40%;
  margin: 10px auto;
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
.ERror {
  color: red;
  text-align: left;
  padding: 5px;
  font-weight: 600;
}
