.OpDiv {
  display: flex;
}
.OpLi {
  border: 2px solid black;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255 242 242);
  cursor: pointer;
  display: block;
}
.OpLi:not(:last-child) {
  margin-right: 20px;
}
